
@{
    ViewData["Title"] = "Matching";
}

<h1>Matching</h1>
<input type="button" value="Start Matching" onclick="location.href='@Url.Action("AddMatchSchedule", "ComSci")'" />
<input type="button" value="Stop Matching" onclick="location.href='@Url.Action("Home", "ComSci")'" />

@if(ViewBag.next != null) {
    <div>
        <h5>Next match Time : @ViewBag.next</h5>
    </div>
}
else { 
    <div>
        <h5>No schedule match, please start matching.</h5>
    </div>
}
