
@{
    ViewData["Title"] = "Student";
}

    <style>

        img {
            margin: 20px;
            width: 500px;
        }

        .card-img {
            border-radius: 50%;
            margin: 20px;
            width: 200px;
        }

        .text {
            border-left: 2px solid gray;
        }
    </style>

    <div style="display: flex;">
        <div class="text-left">
            <div class="profile">
                <img class="card-img" src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" /><br />             

            </div>
        </div>

